@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(255, 255, 255, 0);
}

@font-face {
  font-family: 'Interstate';
  src: url('/fonts/Interstate-Fonts/Interstate-thin.ttf') format('truetype');
  font-weight: 700;
  font-size: medium;
}

.gradient-circle {
  position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(240, 240, 240, 1), rgba(255, 255, 255, 0));
  z-index: -1;
}
